--border-radius-1: 2px;
--border-radius-2: 4px;
--border-radius-3: 8px;
--border-radius-4: 16px;
--border-radius-scale: 2px;
--border-radius-pill: 360px;
--neutral-light-100: #f6f6f7;
--neutral-light-200: #e9ebed;
--neutral-light-300: #d1d5da;
--neutral-light-400: #9da7b2;
--neutral-light-500: #778089;
--neutral-light-600: #545a61;
--neutral-light-700: #353a3e;
--neutral-light-800: #181a1c;
--neutral-light-000: #ffffff;
--neutral-dark-100: #e6ecf2;
--neutral-dark-200: #abb5bf;
--neutral-dark-300: #7e8792;
--neutral-dark-400: #4d565f;
--neutral-dark-500: #3b434c;
--neutral-dark-600: #272f38;
--neutral-dark-700: #1e242c;
--neutral-dark-800: #12181f;
--neutral-dark-900: #060b10;
--neutral-dark-000: #ffffff;
--teal-100: #8efbf7;
--teal-200: #32e6e2;
--teal-300: #14d8d4;
--teal-400: #05bdba;
--teal-500: #04a29f;
--teal-600: #02807d;
--teal-700: #016968;
--teal-800: #014847;
--teal-900: #0c2a2a;
--teal-000: #defffe;
--blue-100: #cde2ff;
--blue-200: #b5d2fb;
--blue-300: #9cbef6;
--blue-400: #80abfa;
--blue-500: #5d8df5;
--blue-600: #316bf4;
--blue-700: #2e51ed;
--blue-800: #2036a1;
--blue-900: #1b205b;
--blue-000: #edf4ff;
--gold-100: #f6e0a5;
--gold-200: #facd6f;
--gold-300: #fbb13d;
--gold-400: #f98e21;
--gold-500: #d5771a;
--gold-600: #a85d13;
--gold-700: #8c4c0d;
--gold-800: #603408;
--gold-900: #332213;
--gold-000: #fdf5d8;
--red-100: #fbd3d0;
--red-200: #ffbdba;
--red-300: #ffada9;
--red-400: #fe8382;
--red-500: #fe4e5c;
--red-600: #d62740;
--red-700: #af2536;
--red-800: #800a20;
--red-900: #3d1c1b;
--red-000: #fbeeed;
--green-100: #bef9c6;
--green-200: #93f5a5;
--green-300: #64d87f;
--green-400: #3ac364;
--green-500: #31a855;
--green-600: #228240;
--green-700: #1a6b34;
--green-800: #0f4a21;
--green-900: #152a19;
--green-000: #e7fce9;
--pink-100: #f6d2f2;
--pink-200: #f7bcf3;
--pink-300: #f3a8ee;
--pink-400: #ef7feb;
--pink-500: #df5adc;
--pink-600: #b938b8;
--pink-700: #9a2d99;
--pink-800: #6c1d6b;
--pink-900: #381b37;
--pink-000: #fcf0fb;
--purple-100: #e2d9f7;
--purple-200: #d8c7ff;
--purple-300: #cab9f4;
--purple-400: #b49df1;
--purple-500: #9b80ed;
--purple-600: #775ce7;
--purple-700: #614aca;
--purple-800: #382aa4;
--purple-900: #292142;
--purple-000: #f5f2fc;
--button-primary: #2036a1;
--color-white: #ffffff;
--color-teal-T900: var(--teal-800, #014847);
--color-teal-T800: var(--teal-700, #016968);
--color-teal-T700: var(--teal-500, #04a29f);
--color-teal-T600: var(--teal-400, #05bdba);
--color-teal-T500: var(--teal-200, #32e6e2);
--color-teal-T400: var(--teal-200, #32e6e2);
--color-teal-T300: var(--teal-100, #8efbf7);
--color-teal-T200: var(--teal-100, #8efbf7);
--color-teal-T100: var(--teal-000, #d3f8f6);
--color-teal-T050: var(--teal-000, #d3f8f6);
--color-blue-B900: var(--blue-900, #1b205b);
--color-blue-B800: var(--blue-900, #1b205b);
--color-blue-B700: var(--blue-800, #2036a1);
--color-blue-B600: var(--blue-800, #2036a1);
--color-blue-B500: var(--blue-700, #2e51ed);
--color-blue-B400: var(--blue-500, #5d8df5);
--color-blue-B300: var(--blue-400, #80abfa);
--color-blue-B200: var(--blue-300, #9cbef6);
--color-blue-B100: var(--blue-100, #cde2ff);
--color-blue-B050: var(--blue-000, #ebf1fb);
--color-gray-L800: var(--neutral-light-800, #181a1c);
--color-gray-L700: var(--neutral-light-700, #353a3e);
--color-gray-L600: var(--neutral-light-600, #778089);
--color-gray-L500: var(--neutral-light-500, #778089);
--color-gray-L400: var(--neutral-light-400, #9da7b2);
--color-gray-L300: var(--neutral-light-200, #e9ebed);
--color-gray-L200: var(--neutral-light-100, #f6f6f7);
--color-gray-L100: var(--neutral-light-100, #f6f6f7);
--color-gray-L000: var(--neutral-light-000, #ffffff);
--color-gray-D800: var(--neutral-dark-800, #12181f);
--color-gray-D700: var(--neutral-dark-700, #1e242c);
--color-gray-D600: var(--neutral-dark-700, #1e242c);
--color-gray-D500: var(--neutral-dark-600, #272f38);
--color-gray-D400: var(--neutral-dark-400, #4d565f);
--color-gray-D300: var(--neutral-dark-300, #7e8792);
--color-gray-D200: var(--neutral-dark-200, #b9c2cd);
--color-gray-D100: var(--neutral-dark-100, #e6ecf2);
--color-gray-D000: var(--neutral-dark-000, #ffffff);
--color-yellow-Y900: var(--gold-700, #8c4c0d);
--color-yellow-Y800: var(--gold-600, #a85d13);
--color-yellow-Y700: var(--gold-500, #d5771a);
--color-yellow-Y600: var(--gold-400, #f98e21);
--color-yellow-Y500: var(--gold-300, #fbb13d);
--color-yellow-Y400: var(--gold-200, #facd6f);
--color-yellow-Y300: var(--gold-100, #f6e0a5);
--color-yellow-Y200: var(--gold-000, #fbf0cc);
--color-yellow-Y100: var(--gold-000, #fbf0cc);
--color-yellow-Y050: var(--gold-000, #fbf0cc);
--color-red-R900: var(--red-800, #800a20);
--color-red-R800: var(--red-800, #800a20);
--color-red-R700: var(--red-700, #af2536);
--color-red-R600: var(--red-600, #d62740);
--color-red-R500: var(--red-500, #fe4e5c);
--color-red-R400: var(--red-300, #ffada9);
--color-red-R300: var(--red-200, #ffbdba);
--color-red-R200: var(--red-100, #fbd3d0);
--color-red-R100: var(--red-000, #fee9e7);
--color-red-R050: var(--red-000, #fee9e7);
--color-pink: var(--red-500, #fe4e5c);
--color-pink-dark: var(--red-600, #d62740);
--color-pink-accessible: var(--red-600, #d62740);
--color-orange: var(--gold-500, #d5771a);
--color-orange-dark: var(--gold-600, #a85d13);
--color-blue: var(--blue-400, #80abfa);
--color-blue-dark: var(--blue-700, #2e51ed);
--color-blue-dark-b: var(--blue-900, #1b205b);
--color-violet: var(--pink-500, #df5adc);
--color-violet-dark: var(--pink-800, #6c1d6b);
--color-gold: var(--gold-300, #fbb13d);
--color-yellow: var(--gold-300, #fbb13d);
--color-yellow-dark: var(--gold-500, #d5771a);
--color-plan-starter: var(--teal-800, #014847);
--color-plan-pro: var(--red-600, #d62740);
--color-plan-pro-accessible: var(--color-pink-accessible);
--color-plan-business: var(--blue-700, #2e51ed);
--color-plan-enterprise: var(--neutral-light-700, #353a3e);
--gradient-1: linear-gradient(to bottom, #230a5c 0%, #3e119c 100%);
--font-headline: Pacaembu,sans-serif;
--font-headline-feature-settings: "salt" 1;
--font-primary: Pacaembu,sans-serif;
--font-primary-feature-settings: "salt" 1;
--font-secondary: Mulish,sans-serif;
--font-monospace: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
--radius-1: 0.125rem;
--radius-2: 0.25rem;
--radius-3: 0.5rem;
--radius-4: 1rem;
--radius-circle: 50%;
--radius-pill: 360px;
--space-1: 0.25rem;
--space-2: 0.5rem;
--space-3: 1rem;
--space-4: 1.5rem;
--space-5: 2rem;
--space-6: 4rem;
--pancake-block-space: 5rem;
--ease-out: cubic-bezier(0.5, 1, 0.89, 1);
--border-radius: 6px;
--border-radius-large: 12px;
--color-focus-ring: var(--color-teal-T500);
--grid-gutter: 2.5rem;
--shadow-light: 0px 2px 4px rgba(14, 30, 37, 0.12);
--shadow-heavy: -10px 10px 80px rgba(0, 0, 0, 0.1);
--shadow-hover: 0 4px 12px rgba(0, 0, 0, 0.25);
--shadow-deep: 0px 16px 24px rgba(0, 0, 0, 0.07),0px 6px 30px rgba(0, 0, 0, 0.06),0px 8px 10px rgba(0, 0, 0, 0.1);
--shadow-coheeze-shallow: 0px 2px 4px rgba(51, 55, 59, 0.08),0px 1px 10px rgba(51, 55, 59, 0.06);
--shadow-coheeze-deepest: 0px 24px 38px rgba(0, 0, 0, 0.14),0px 9px 46px rgba(0, 0, 0, 0.04);
--shadow-coheeze-shallow-filter: drop-shadow(0px 1px 10px rgba(51, 55, 59, 0.06)) drop-shadow(0px 2px 4px rgba(51, 55, 59, 0.08));
--shadow-coheeze-deep-filter: drop-shadow(0px 6px 30px rgba(51, 55, 59, 0.04)) drop-shadow(0px 8px 24px rgba(51, 55, 59, 0.04)) drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.08));
--theme-background: var(--color-gray-L000);
--theme-foreground: var(--color-gray-L800);
--home-gradient: linear-gradient(101.63deg, #04a29f -21.52%, #2036a1 55.18%, #382aa4 93.18%);
--home-light-text: var(--color-white);
--home-dark-text: var(--color-gray-L800);
--home-social-proof-circle-diameter: 180px;
--masthead-height: 75.0313px;
box-sizing: border-box;
margin: 0;
color: var(--color-gray-L800);
line-height: 1.5;
font-family: var(--font-secondary);
padding: 0;
overflow-x: hidden;
overflow-y: scroll;    --border-radius-1: 2px;
    --border-radius-2: 4px;
    --border-radius-3: 8px;
    --border-radius-4: 16px;
    --border-radius-scale: 2px;
    --border-radius-pill: 360px;
    --neutral-light-100: #f6f6f7;
    --neutral-light-200: #e9ebed;
    --neutral-light-300: #d1d5da;
    --neutral-light-400: #9da7b2;
    --neutral-light-500: #778089;
    --neutral-light-600: #545a61;
    --neutral-light-700: #353a3e;
    --neutral-light-800: #181a1c;
    --neutral-light-000: #ffffff;
    --neutral-dark-100: #e6ecf2;
    --neutral-dark-200: #abb5bf;
    --neutral-dark-300: #7e8792;
    --neutral-dark-400: #4d565f;
    --neutral-dark-500: #3b434c;
    --neutral-dark-600: #272f38;
    --neutral-dark-700: #1e242c;
    --neutral-dark-800: #12181f;
    --neutral-dark-900: #060b10;
    --neutral-dark-000: #ffffff;
    --teal-100: #8efbf7;
    --teal-200: #32e6e2;
    --teal-300: #14d8d4;
    --teal-400: #05bdba;
    --teal-500: #04a29f;
    --teal-600: #02807d;
    --teal-700: #016968;
    --teal-800: #014847;
    --teal-900: #0c2a2a;
    --teal-000: #defffe;
    --blue-100: #cde2ff;
    --blue-200: #b5d2fb;
    --blue-300: #9cbef6;
    --blue-400: #80abfa;
    --blue-500: #5d8df5;
    --blue-600: #316bf4;
    --blue-700: #2e51ed;
    --blue-800: #2036a1;
    --blue-900: #1b205b;
    --blue-000: #edf4ff;
    --gold-100: #f6e0a5;
    --gold-200: #facd6f;
    --gold-300: #fbb13d;
    --gold-400: #f98e21;
    --gold-500: #d5771a;
    --gold-600: #a85d13;
    --gold-700: #8c4c0d;
    --gold-800: #603408;
    --gold-900: #332213;
    --gold-000: #fdf5d8;
    --red-100: #fbd3d0;
    --red-200: #ffbdba;
    --red-300: #ffada9;
    --red-400: #fe8382;
    --red-500: #fe4e5c;
    --red-600: #d62740;
    --red-700: #af2536;
    --red-800: #800a20;
    --red-900: #3d1c1b;
    --red-000: #fbeeed;
    --green-100: #bef9c6;
    --green-200: #93f5a5;
    --green-300: #64d87f;
    --green-400: #3ac364;
    --green-500: #31a855;
    --green-600: #228240;
    --green-700: #1a6b34;
    --green-800: #0f4a21;
    --green-900: #152a19;
    --green-000: #e7fce9;
    --pink-100: #f6d2f2;
    --pink-200: #f7bcf3;
    --pink-300: #f3a8ee;
    --pink-400: #ef7feb;
    --pink-500: #df5adc;
    --pink-600: #b938b8;
    --pink-700: #9a2d99;
    --pink-800: #6c1d6b;
    --pink-900: #381b37;
    --pink-000: #fcf0fb;
    --purple-100: #e2d9f7;
    --purple-200: #d8c7ff;
    --purple-300: #cab9f4;
    --purple-400: #b49df1;
    --purple-500: #9b80ed;
    --purple-600: #775ce7;
    --purple-700: #614aca;
    --purple-800: #382aa4;
    --purple-900: #292142;
    --purple-000: #f5f2fc;
    --button-primary: #2036a1;
    --color-white: #ffffff;
    --color-teal-T900: var(--teal-800, #014847);
    --color-teal-T800: var(--teal-700, #016968);
    --color-teal-T700: var(--teal-500, #04a29f);
    --color-teal-T600: var(--teal-400, #05bdba);
    --color-teal-T500: var(--teal-200, #32e6e2);
    --color-teal-T400: var(--teal-200, #32e6e2);
    --color-teal-T300: var(--teal-100, #8efbf7);
    --color-teal-T200: var(--teal-100, #8efbf7);
    --color-teal-T100: var(--teal-000, #d3f8f6);
    --color-teal-T050: var(--teal-000, #d3f8f6);
    --color-blue-B900: var(--blue-900, #1b205b);
    --color-blue-B800: var(--blue-900, #1b205b);
    --color-blue-B700: var(--blue-800, #2036a1);
    --color-blue-B600: var(--blue-800, #2036a1);
    --color-blue-B500: var(--blue-700, #2e51ed);
    --color-blue-B400: var(--blue-500, #5d8df5);
    --color-blue-B300: var(--blue-400, #80abfa);
    --color-blue-B200: var(--blue-300, #9cbef6);
    --color-blue-B100: var(--blue-100, #cde2ff);
    --color-blue-B050: var(--blue-000, #ebf1fb);
    --color-gray-L800: var(--neutral-light-800, #181a1c);
    --color-gray-L700: var(--neutral-light-700, #353a3e);
    --color-gray-L600: var(--neutral-light-600, #778089);
    --color-gray-L500: var(--neutral-light-500, #778089);
    --color-gray-L400: var(--neutral-light-400, #9da7b2);
    --color-gray-L300: var(--neutral-light-200, #e9ebed);
    --color-gray-L200: var(--neutral-light-100, #f6f6f7);
    --color-gray-L100: var(--neutral-light-100, #f6f6f7);
    --color-gray-L000: var(--neutral-light-000, #ffffff);
    --color-gray-D800: var(--neutral-dark-800, #12181f);
    --color-gray-D700: var(--neutral-dark-700, #1e242c);
    --color-gray-D600: var(--neutral-dark-700, #1e242c);
    --color-gray-D500: var(--neutral-dark-600, #272f38);
    --color-gray-D400: var(--neutral-dark-400, #4d565f);
    --color-gray-D300: var(--neutral-dark-300, #7e8792);
    --color-gray-D200: var(--neutral-dark-200, #b9c2cd);
    --color-gray-D100: var(--neutral-dark-100, #e6ecf2);
    --color-gray-D000: var(--neutral-dark-000, #ffffff);
    --color-yellow-Y900: var(--gold-700, #8c4c0d);
    --color-yellow-Y800: var(--gold-600, #a85d13);
    --color-yellow-Y700: var(--gold-500, #d5771a);
    --color-yellow-Y600: var(--gold-400, #f98e21);
    --color-yellow-Y500: var(--gold-300, #fbb13d);
    --color-yellow-Y400: var(--gold-200, #facd6f);
    --color-yellow-Y300: var(--gold-100, #f6e0a5);
    --color-yellow-Y200: var(--gold-000, #fbf0cc);
    --color-yellow-Y100: var(--gold-000, #fbf0cc);
    --color-yellow-Y050: var(--gold-000, #fbf0cc);
    --color-red-R900: var(--red-800, #800a20);
    --color-red-R800: var(--red-800, #800a20);
    --color-red-R700: var(--red-700, #af2536);
    --color-red-R600: var(--red-600, #d62740);
    --color-red-R500: var(--red-500, #fe4e5c);
    --color-red-R400: var(--red-300, #ffada9);
    --color-red-R300: var(--red-200, #ffbdba);
    --color-red-R200: var(--red-100, #fbd3d0);
    --color-red-R100: var(--red-000, #fee9e7);
    --color-red-R050: var(--red-000, #fee9e7);
    --color-pink: var(--red-500, #fe4e5c);
    --color-pink-dark: var(--red-600, #d62740);
    --color-pink-accessible: var(--red-600, #d62740);
    --color-orange: var(--gold-500, #d5771a);
    --color-orange-dark: var(--gold-600, #a85d13);
    --color-blue: var(--blue-400, #80abfa);
    --color-blue-dark: var(--blue-700, #2e51ed);
    --color-blue-dark-b: var(--blue-900, #1b205b);
    --color-violet: var(--pink-500, #df5adc);
    --color-violet-dark: var(--pink-800, #6c1d6b);
    --color-gold: var(--gold-300, #fbb13d);
    --color-yellow: var(--gold-300, #fbb13d);
    --color-yellow-dark: var(--gold-500, #d5771a);
    --color-plan-starter: var(--teal-800, #014847);
    --color-plan-pro: var(--red-600, #d62740);
    --color-plan-pro-accessible: var(--color-pink-accessible);
    --color-plan-business: var(--blue-700, #2e51ed);
    --color-plan-enterprise: var(--neutral-light-700, #353a3e);
    --gradient-1: linear-gradient(to bottom, #230a5c 0%, #3e119c 100%);
    --font-headline: Pacaembu,sans-serif;
    --font-headline-feature-settings: "salt" 1;
    --font-primary: Pacaembu,sans-serif;
    --font-primary-feature-settings: "salt" 1;
    --font-secondary: Mulish,sans-serif;
    --font-monospace: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
    --radius-1: 0.125rem;
    --radius-2: 0.25rem;
    --radius-3: 0.5rem;
    --radius-4: 1rem;
    --radius-circle: 50%;
    --radius-pill: 360px;
    --space-1: 0.25rem;
    --space-2: 0.5rem;
    --space-3: 1rem;
    --space-4: 1.5rem;
    --space-5: 2rem;
    --space-6: 4rem;
    --pancake-block-space: 5rem;
    --ease-out: cubic-bezier(0.5, 1, 0.89, 1);
    --border-radius: 6px;
    --border-radius-large: 12px;
    --color-focus-ring: var(--color-teal-T500);
    --grid-gutter: 2.5rem;
    --shadow-light: 0px 2px 4px rgba(14, 30, 37, 0.12);
    --shadow-heavy: -10px 10px 80px rgba(0, 0, 0, 0.1);
    --shadow-hover: 0 4px 12px rgba(0, 0, 0, 0.25);
    --shadow-deep: 0px 16px 24px rgba(0, 0, 0, 0.07),0px 6px 30px rgba(0, 0, 0, 0.06),0px 8px 10px rgba(0, 0, 0, 0.1);
    --shadow-coheeze-shallow: 0px 2px 4px rgba(51, 55, 59, 0.08),0px 1px 10px rgba(51, 55, 59, 0.06);
    --shadow-coheeze-deepest: 0px 24px 38px rgba(0, 0, 0, 0.14),0px 9px 46px rgba(0, 0, 0, 0.04);
    --shadow-coheeze-shallow-filter: drop-shadow(0px 1px 10px rgba(51, 55, 59, 0.06)) drop-shadow(0px 2px 4px rgba(51, 55, 59, 0.08));
    --shadow-coheeze-deep-filter: drop-shadow(0px 6px 30px rgba(51, 55, 59, 0.04)) drop-shadow(0px 8px 24px rgba(51, 55, 59, 0.04)) drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.08));
    --theme-background: var(--color-gray-L000);
    --theme-foreground: var(--color-gray-L800);
    --home-gradient: linear-gradient(101.63deg, #04a29f -21.52%, #2036a1 55.18%, #382aa4 93.18%);
    --home-light-text: var(--color-white);
    --home-dark-text: var(--color-gray-L800);
    --home-social-proof-circle-diameter: 180px;
    --masthead-height: 75.0313px;
    box-sizing: border-box;
    margin: 0;
    color: var(--color-gray-L800);
    line-height: 1.5;
    font-family: var(--font-secondary);
    padding: 0;
    overflow-x: hidden;
    overflow-y: scroll;    --border-radius-1: 2px;
    --border-radius-2: 4px;
    --border-radius-3: 8px;
    --border-radius-4: 16px;
    --border-radius-scale: 2px;
    --border-radius-pill: 360px;
    --neutral-light-100: #f6f6f7;
    --neutral-light-200: #e9ebed;
    --neutral-light-300: #d1d5da;
    --neutral-light-400: #9da7b2;
    --neutral-light-500: #778089;
    --neutral-light-600: #545a61;
    --neutral-light-700: #353a3e;
    --neutral-light-800: #181a1c;
    --neutral-light-000: #ffffff;
    --neutral-dark-100: #e6ecf2;
    --neutral-dark-200: #abb5bf;
    --neutral-dark-300: #7e8792;
    --neutral-dark-400: #4d565f;
    --neutral-dark-500: #3b434c;
    --neutral-dark-600: #272f38;
    --neutral-dark-700: #1e242c;
    --neutral-dark-800: #12181f;
    --neutral-dark-900: #060b10;
    --neutral-dark-000: #ffffff;
    --teal-100: #8efbf7;
    --teal-200: #32e6e2;
    --teal-300: #14d8d4;
    --teal-400: #05bdba;
    --teal-500: #04a29f;
    --teal-600: #02807d;
    --teal-700: #016968;
    --teal-800: #014847;
    --teal-900: #0c2a2a;
    --teal-000: #defffe;
    --blue-100: #cde2ff;
    --blue-200: #b5d2fb;
    --blue-300: #9cbef6;
    --blue-400: #80abfa;
    --blue-500: #5d8df5;
    --blue-600: #316bf4;
    --blue-700: #2e51ed;
    --blue-800: #2036a1;
    --blue-900: #1b205b;
    --blue-000: #edf4ff;
    --gold-100: #f6e0a5;
    --gold-200: #facd6f;
    --gold-300: #fbb13d;
    --gold-400: #f98e21;
    --gold-500: #d5771a;
    --gold-600: #a85d13;
    --gold-700: #8c4c0d;
    --gold-800: #603408;
    --gold-900: #332213;
    --gold-000: #fdf5d8;
    --red-100: #fbd3d0;
    --red-200: #ffbdba;
    --red-300: #ffada9;
    --red-400: #fe8382;
    --red-500: #fe4e5c;
    --red-600: #d62740;
    --red-700: #af2536;
    --red-800: #800a20;
    --red-900: #3d1c1b;
    --red-000: #fbeeed;
    --green-100: #bef9c6;
    --green-200: #93f5a5;
    --green-300: #64d87f;
    --green-400: #3ac364;
    --green-500: #31a855;
    --green-600: #228240;
    --green-700: #1a6b34;
    --green-800: #0f4a21;
    --green-900: #152a19;
    --green-000: #e7fce9;
    --pink-100: #f6d2f2;
    --pink-200: #f7bcf3;
    --pink-300: #f3a8ee;
    --pink-400: #ef7feb;
    --pink-500: #df5adc;
    --pink-600: #b938b8;
    --pink-700: #9a2d99;
    --pink-800: #6c1d6b;
    --pink-900: #381b37;
    --pink-000: #fcf0fb;
    --purple-100: #e2d9f7;
    --purple-200: #d8c7ff;
    --purple-300: #cab9f4;
    --purple-400: #b49df1;
    --purple-500: #9b80ed;
    --purple-600: #775ce7;
    --purple-700: #614aca;
    --purple-800: #382aa4;
    --purple-900: #292142;
    --purple-000: #f5f2fc;
    --button-primary: #2036a1;
    --color-white: #ffffff;
    --color-teal-T900: var(--teal-800, #014847);
    --color-teal-T800: var(--teal-700, #016968);
    --color-teal-T700: var(--teal-500, #04a29f);
    --color-teal-T600: var(--teal-400, #05bdba);
    --color-teal-T500: var(--teal-200, #32e6e2);
    --color-teal-T400: var(--teal-200, #32e6e2);
    --color-teal-T300: var(--teal-100, #8efbf7);
    --color-teal-T200: var(--teal-100, #8efbf7);
    --color-teal-T100: var(--teal-000, #d3f8f6);
    --color-teal-T050: var(--teal-000, #d3f8f6);
    --color-blue-B900: var(--blue-900, #1b205b);
    --color-blue-B800: var(--blue-900, #1b205b);
    --color-blue-B700: var(--blue-800, #2036a1);
    --color-blue-B600: var(--blue-800, #2036a1);
    --color-blue-B500: var(--blue-700, #2e51ed);
    --color-blue-B400: var(--blue-500, #5d8df5);
    --color-blue-B300: var(--blue-400, #80abfa);
    --color-blue-B200: var(--blue-300, #9cbef6);
    --color-blue-B100: var(--blue-100, #cde2ff);
    --color-blue-B050: var(--blue-000, #ebf1fb);
    --color-gray-L800: var(--neutral-light-800, #181a1c);
    --color-gray-L700: var(--neutral-light-700, #353a3e);
    --color-gray-L600: var(--neutral-light-600, #778089);
    --color-gray-L500: var(--neutral-light-500, #778089);
    --color-gray-L400: var(--neutral-light-400, #9da7b2);
    --color-gray-L300: var(--neutral-light-200, #e9ebed);
    --color-gray-L200: var(--neutral-light-100, #f6f6f7);
    --color-gray-L100: var(--neutral-light-100, #f6f6f7);
    --color-gray-L000: var(--neutral-light-000, #ffffff);
    --color-gray-D800: var(--neutral-dark-800, #12181f);
    --color-gray-D700: var(--neutral-dark-700, #1e242c);
    --color-gray-D600: var(--neutral-dark-700, #1e242c);
    --color-gray-D500: var(--neutral-dark-600, #272f38);
    --color-gray-D400: var(--neutral-dark-400, #4d565f);
    --color-gray-D300: var(--neutral-dark-300, #7e8792);
    --color-gray-D200: var(--neutral-dark-200, #b9c2cd);
    --color-gray-D100: var(--neutral-dark-100, #e6ecf2);
    --color-gray-D000: var(--neutral-dark-000, #ffffff);
    --color-yellow-Y900: var(--gold-700, #8c4c0d);
    --color-yellow-Y800: var(--gold-600, #a85d13);
    --color-yellow-Y700: var(--gold-500, #d5771a);
    --color-yellow-Y600: var(--gold-400, #f98e21);
    --color-yellow-Y500: var(--gold-300, #fbb13d);
    --color-yellow-Y400: var(--gold-200, #facd6f);
    --color-yellow-Y300: var(--gold-100, #f6e0a5);
    --color-yellow-Y200: var(--gold-000, #fbf0cc);
    --color-yellow-Y100: var(--gold-000, #fbf0cc);
    --color-yellow-Y050: var(--gold-000, #fbf0cc);
    --color-red-R900: var(--red-800, #800a20);
    --color-red-R800: var(--red-800, #800a20);
    --color-red-R700: var(--red-700, #af2536);
    --color-red-R600: var(--red-600, #d62740);
    --color-red-R500: var(--red-500, #fe4e5c);
    --color-red-R400: var(--red-300, #ffada9);
    --color-red-R300: var(--red-200, #ffbdba);
    --color-red-R200: var(--red-100, #fbd3d0);
    --color-red-R100: var(--red-000, #fee9e7);
    --color-red-R050: var(--red-000, #fee9e7);
    --color-pink: var(--red-500, #fe4e5c);
    --color-pink-dark: var(--red-600, #d62740);
    --color-pink-accessible: var(--red-600, #d62740);
    --color-orange: var(--gold-500, #d5771a);
    --color-orange-dark: var(--gold-600, #a85d13);
    --color-blue: var(--blue-400, #80abfa);
    --color-blue-dark: var(--blue-700, #2e51ed);
    --color-blue-dark-b: var(--blue-900, #1b205b);
    --color-violet: var(--pink-500, #df5adc);
    --color-violet-dark: var(--pink-800, #6c1d6b);
    --color-gold: var(--gold-300, #fbb13d);
    --color-yellow: var(--gold-300, #fbb13d);
    --color-yellow-dark: var(--gold-500, #d5771a);
    --color-plan-starter: var(--teal-800, #014847);
    --color-plan-pro: var(--red-600, #d62740);
    --color-plan-pro-accessible: var(--color-pink-accessible);
    --color-plan-business: var(--blue-700, #2e51ed);
    --color-plan-enterprise: var(--neutral-light-700, #353a3e);
    --gradient-1: linear-gradient(to bottom, #230a5c 0%, #3e119c 100%);
    --font-headline: Pacaembu,sans-serif;
    --font-headline-feature-settings: "salt" 1;
    --font-primary: Pacaembu,sans-serif;
    --font-primary-feature-settings: "salt" 1;
    --font-secondary: Mulish,sans-serif;
    --font-monospace: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
    --radius-1: 0.125rem;
    --radius-2: 0.25rem;
    --radius-3: 0.5rem;
    --radius-4: 1rem;
    --radius-circle: 50%;
    --radius-pill: 360px;
    --space-1: 0.25rem;
    --space-2: 0.5rem;
    --space-3: 1rem;
    --space-4: 1.5rem;
    --space-5: 2rem;
    --space-6: 4rem;
    --pancake-block-space: 5rem;
    --ease-out: cubic-bezier(0.5, 1, 0.89, 1);
    --border-radius: 6px;
    --border-radius-large: 12px;
    --color-focus-ring: var(--color-teal-T500);
    --grid-gutter: 2.5rem;
    --shadow-light: 0px 2px 4px rgba(14, 30, 37, 0.12);
    --shadow-heavy: -10px 10px 80px rgba(0, 0, 0, 0.1);
    --shadow-hover: 0 4px 12px rgba(0, 0, 0, 0.25);
    --shadow-deep: 0px 16px 24px rgba(0, 0, 0, 0.07),0px 6px 30px rgba(0, 0, 0, 0.06),0px 8px 10px rgba(0, 0, 0, 0.1);
    --shadow-coheeze-shallow: 0px 2px 4px rgba(51, 55, 59, 0.08),0px 1px 10px rgba(51, 55, 59, 0.06);
    --shadow-coheeze-deepest: 0px 24px 38px rgba(0, 0, 0, 0.14),0px 9px 46px rgba(0, 0, 0, 0.04);
    --shadow-coheeze-shallow-filter: drop-shadow(0px 1px 10px rgba(51, 55, 59, 0.06)) drop-shadow(0px 2px 4px rgba(51, 55, 59, 0.08));
    --shadow-coheeze-deep-filter: drop-shadow(0px 6px 30px rgba(51, 55, 59, 0.04)) drop-shadow(0px 8px 24px rgba(51, 55, 59, 0.04)) drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.08));
    --theme-background: var(--color-gray-L000);
    --theme-foreground: var(--color-gray-L800);
    --home-gradient: linear-gradient(101.63deg, #04a29f -21.52%, #2036a1 55.18%, #382aa4 93.18%);
    --home-light-text: var(--color-white);
    --home-dark-text: var(--color-gray-L800);
    --home-social-proof-circle-diameter: 180px;
    --masthead-height: 75.0313px;
    box-sizing: border-box;
    margin: 0;
    color: var(--color-gray-L800);
    line-height: 1.5;
    font-family: var(--font-secondary);
    padding: 0;
    overflow-x: hidden;
    overflow-y: scroll;    --border-radius-1: 2px;
    --border-radius-2: 4px;
    --border-radius-3: 8px;
    --border-radius-4: 16px;
    --border-radius-scale: 2px;
    --border-radius-pill: 360px;
    --neutral-light-100: #f6f6f7;
    --neutral-light-200: #e9ebed;
    --neutral-light-300: #d1d5da;
    --neutral-light-400: #9da7b2;
    --neutral-light-500: #778089;
    --neutral-light-600: #545a61;
    --neutral-light-700: #353a3e;
    --neutral-light-800: #181a1c;
    --neutral-light-000: #ffffff;
    --neutral-dark-100: #e6ecf2;
    --neutral-dark-200: #abb5bf;
    --neutral-dark-300: #7e8792;
    --neutral-dark-400: #4d565f;
    --neutral-dark-500: #3b434c;
    --neutral-dark-600: #272f38;
    --neutral-dark-700: #1e242c;
    --neutral-dark-800: #12181f;
    --neutral-dark-900: #060b10;
    --neutral-dark-000: #ffffff;
    --teal-100: #8efbf7;
    --teal-200: #32e6e2;
    --teal-300: #14d8d4;
    --teal-400: #05bdba;
    --teal-500: #04a29f;
    --teal-600: #02807d;
    --teal-700: #016968;
    --teal-800: #014847;
    --teal-900: #0c2a2a;
    --teal-000: #defffe;
    --blue-100: #cde2ff;
    --blue-200: #b5d2fb;
    --blue-300: #9cbef6;
    --blue-400: #80abfa;
    --blue-500: #5d8df5;
    --blue-600: #316bf4;
    --blue-700: #2e51ed;
    --blue-800: #2036a1;
    --blue-900: #1b205b;
    --blue-000: #edf4ff;
    --gold-100: #f6e0a5;
    --gold-200: #facd6f;
    --gold-300: #fbb13d;
    --gold-400: #f98e21;
    --gold-500: #d5771a;
    --gold-600: #a85d13;
    --gold-700: #8c4c0d;
    --gold-800: #603408;
    --gold-900: #332213;
    --gold-000: #fdf5d8;
    --red-100: #fbd3d0;
    --red-200: #ffbdba;
    --red-300: #ffada9;
    --red-400: #fe8382;
    --red-500: #fe4e5c;
    --red-600: #d62740;
    --red-700: #af2536;
    --red-800: #800a20;
    --red-900: #3d1c1b;
    --red-000: #fbeeed;
    --green-100: #bef9c6;
    --green-200: #93f5a5;
    --green-300: #64d87f;
    --green-400: #3ac364;
    --green-500: #31a855;
    --green-600: #228240;
    --green-700: #1a6b34;
    --green-800: #0f4a21;
    --green-900: #152a19;
    --green-000: #e7fce9;
    --pink-100: #f6d2f2;
    --pink-200: #f7bcf3;
    --pink-300: #f3a8ee;
    --pink-400: #ef7feb;
    --pink-500: #df5adc;
    --pink-600: #b938b8;
    --pink-700: #9a2d99;
    --pink-800: #6c1d6b;
    --pink-900: #381b37;
    --pink-000: #fcf0fb;
    --purple-100: #e2d9f7;
    --purple-200: #d8c7ff;
    --purple-300: #cab9f4;
    --purple-400: #b49df1;
    --purple-500: #9b80ed;
    --purple-600: #775ce7;
    --purple-700: #614aca;
    --purple-800: #382aa4;
    --purple-900: #292142;
    --purple-000: #f5f2fc;
    --button-primary: #2036a1;
    --color-white: #ffffff;
    --color-teal-T900: var(--teal-800, #014847);
    --color-teal-T800: var(--teal-700, #016968);
    --color-teal-T700: var(--teal-500, #04a29f);
    --color-teal-T600: var(--teal-400, #05bdba);
    --color-teal-T500: var(--teal-200, #32e6e2);
    --color-teal-T400: var(--teal-200, #32e6e2);
    --color-teal-T300: var(--teal-100, #8efbf7);
    --color-teal-T200: var(--teal-100, #8efbf7);
    --color-teal-T100: var(--teal-000, #d3f8f6);
    --color-teal-T050: var(--teal-000, #d3f8f6);
    --color-blue-B900: var(--blue-900, #1b205b);
    --color-blue-B800: var(--blue-900, #1b205b);
    --color-blue-B700: var(--blue-800, #2036a1);
    --color-blue-B600: var(--blue-800, #2036a1);
    --color-blue-B500: var(--blue-700, #2e51ed);
    --color-blue-B400: var(--blue-500, #5d8df5);
    --color-blue-B300: var(--blue-400, #80abfa);
    --color-blue-B200: var(--blue-300, #9cbef6);
    --color-blue-B100: var(--blue-100, #cde2ff);
    --color-blue-B050: var(--blue-000, #ebf1fb);
    --color-gray-L800: var(--neutral-light-800, #181a1c);
    --color-gray-L700: var(--neutral-light-700, #353a3e);
    --color-gray-L600: var(--neutral-light-600, #778089);
    --color-gray-L500: var(--neutral-light-500, #778089);
    --color-gray-L400: var(--neutral-light-400, #9da7b2);
    --color-gray-L300: var(--neutral-light-200, #e9ebed);
    --color-gray-L200: var(--neutral-light-100, #f6f6f7);
    --color-gray-L100: var(--neutral-light-100, #f6f6f7);
    --color-gray-L000: var(--neutral-light-000, #ffffff);
    --color-gray-D800: var(--neutral-dark-800, #12181f);
    --color-gray-D700: var(--neutral-dark-700, #1e242c);
    --color-gray-D600: var(--neutral-dark-700, #1e242c);
    --color-gray-D500: var(--neutral-dark-600, #272f38);
    --color-gray-D400: var(--neutral-dark-400, #4d565f);
    --color-gray-D300: var(--neutral-dark-300, #7e8792);
    --color-gray-D200: var(--neutral-dark-200, #b9c2cd);
    --color-gray-D100: var(--neutral-dark-100, #e6ecf2);
    --color-gray-D000: var(--neutral-dark-000, #ffffff);
    --color-yellow-Y900: var(--gold-700, #8c4c0d);
    --color-yellow-Y800: var(--gold-600, #a85d13);
    --color-yellow-Y700: var(--gold-500, #d5771a);
    --color-yellow-Y600: var(--gold-400, #f98e21);
    --color-yellow-Y500: var(--gold-300, #fbb13d);
    --color-yellow-Y400: var(--gold-200, #facd6f);
    --color-yellow-Y300: var(--gold-100, #f6e0a5);
    --color-yellow-Y200: var(--gold-000, #fbf0cc);
    --color-yellow-Y100: var(--gold-000, #fbf0cc);
    --color-yellow-Y050: var(--gold-000, #fbf0cc);
    --color-red-R900: var(--red-800, #800a20);
    --color-red-R800: var(--red-800, #800a20);
    --color-red-R700: var(--red-700, #af2536);
    --color-red-R600: var(--red-600, #d62740);
    --color-red-R500: var(--red-500, #fe4e5c);
    --color-red-R400: var(--red-300, #ffada9);
    --color-red-R300: var(--red-200, #ffbdba);
    --color-red-R200: var(--red-100, #fbd3d0);
    --color-red-R100: var(--red-000, #fee9e7);
    --color-red-R050: var(--red-000, #fee9e7);
    --color-pink: var(--red-500, #fe4e5c);
    --color-pink-dark: var(--red-600, #d62740);
    --color-pink-accessible: var(--red-600, #d62740);
    --color-orange: var(--gold-500, #d5771a);
    --color-orange-dark: var(--gold-600, #a85d13);
    --color-blue: var(--blue-400, #80abfa);
    --color-blue-dark: var(--blue-700, #2e51ed);
    --color-blue-dark-b: var(--blue-900, #1b205b);
    --color-violet: var(--pink-500, #df5adc);
    --color-violet-dark: var(--pink-800, #6c1d6b);
    --color-gold: var(--gold-300, #fbb13d);
    --color-yellow: var(--gold-300, #fbb13d);
    --color-yellow-dark: var(--gold-500, #d5771a);
    --color-plan-starter: var(--teal-800, #014847);
    --color-plan-pro: var(--red-600, #d62740);
    --color-plan-pro-accessible: var(--color-pink-accessible);
    --color-plan-business: var(--blue-700, #2e51ed);
    --color-plan-enterprise: var(--neutral-light-700, #353a3e);
    --gradient-1: linear-gradient(to bottom, #230a5c 0%, #3e119c 100%);
    --font-headline: Pacaembu,sans-serif;
    --font-headline-feature-settings: "salt" 1;
    --font-primary: Pacaembu,sans-serif;
    --font-primary-feature-settings: "salt" 1;
    --font-secondary: Mulish,sans-serif;
    --font-monospace: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
    --radius-1: 0.125rem;
    --radius-2: 0.25rem;
    --radius-3: 0.5rem;
    --radius-4: 1rem;
    --radius-circle: 50%;
    --radius-pill: 360px;
    --space-1: 0.25rem;
    --space-2: 0.5rem;
    --space-3: 1rem;
    --space-4: 1.5rem;
    --space-5: 2rem;
    --space-6: 4rem;
    --pancake-block-space: 5rem;
    --ease-out: cubic-bezier(0.5, 1, 0.89, 1);
    --border-radius: 6px;
    --border-radius-large: 12px;
    --color-focus-ring: var(--color-teal-T500);
    --grid-gutter: 2.5rem;
    --shadow-light: 0px 2px 4px rgba(14, 30, 37, 0.12);
    --shadow-heavy: -10px 10px 80px rgba(0, 0, 0, 0.1);
    --shadow-hover: 0 4px 12px rgba(0, 0, 0, 0.25);
    --shadow-deep: 0px 16px 24px rgba(0, 0, 0, 0.07),0px 6px 30px rgba(0, 0, 0, 0.06),0px 8px 10px rgba(0, 0, 0, 0.1);
    --shadow-coheeze-shallow: 0px 2px 4px rgba(51, 55, 59, 0.08),0px 1px 10px rgba(51, 55, 59, 0.06);
    --shadow-coheeze-deepest: 0px 24px 38px rgba(0, 0, 0, 0.14),0px 9px 46px rgba(0, 0, 0, 0.04);
    --shadow-coheeze-shallow-filter: drop-shadow(0px 1px 10px rgba(51, 55, 59, 0.06)) drop-shadow(0px 2px 4px rgba(51, 55, 59, 0.08));
    --shadow-coheeze-deep-filter: drop-shadow(0px 6px 30px rgba(51, 55, 59, 0.04)) drop-shadow(0px 8px 24px rgba(51, 55, 59, 0.04)) drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.08));
    --theme-background: var(--color-gray-L000);
    --theme-foreground: var(--color-gray-L800);
    --home-gradient: linear-gradient(101.63deg, #04a29f -21.52%, #2036a1 55.18%, #382aa4 93.18%);
    --home-light-text: var(--color-white);
    --home-dark-text: var(--color-gray-L800);
    --home-social-proof-circle-diameter: 180px;
    --masthead-height: 75.0313px;
    box-sizing: border-box;
    margin: 0;
    color: var(--color-gray-L800);
    line-height: 1.5;
    font-family: var(--font-secondary);
    padding: 0;
    overflow-x: hidden;
    overflow-y: scroll;